[submodule "data"]
	path = data
	url = https://github.com/KelvinYou/personal-os-data.git
[submodule "repos/portfolio-website"]
	path = repos/portfolio-website
	url = https://github.com/KelvinYou/portfolio-website.git
[submodule "repos/ai-stock-analysis"]
	path = repos/ai-stock-analysis
	url = https://github.com/KelvinYou/ai-stock-analysis.git
[submodule "repos/kelvinyou-notes"]
	path = repos/kelvinyou-notes
	url = https://github.com/KelvinYou/kelvinyou-notes.git
